<header>
  <div class="ngfb-container">
    <a routerLink="/" class="ngfb-logo">Food Bowl</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login" class="ngfb-login">Login</a>
        </li>
        <li class="ngfb-menu-container">
          <a routerLink="/dashboard" class="ngfb-login">John Doe</a>
          <div class="ngfb-menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart" class="ngfb-cart">Cart <span>{{cartCount}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
