<div class="ngfb-page-title">
  <h1>Order Summary</h1>
</div>
<div class="ngfb-payment-container">
  <div class="ngfb-payment-wrapper">
    <div class="ngfb-order-summary">
      <div>
        <h3 class="order-info-title">Name:</h3>
        <span class="order-info">{{order.name}}</span>
      </div>
      <div>
        <h3 class="order-info-title">Address:</h3>
        <span class="order-info">{{order.address}}</span>
      </div>
    </div>
    <div class="ngfb-order-list-wrapper">
      <app-item-list [order]="order"></app-item-list>
    </div>
  </div>
  <div class="ngfb-checkout-map-container">
    <div class="ngfb-page-title">
      <h1>Shipping Address</h1>
    </div>
    <app-map [order]="order" [readonly]="true"></app-map>
  </div>
  <div class="ngfb-button-group">
    <paypal [order]="order"></paypal>
  </div>
</div>
