<div class="ngfb-login-container">
  <div class="ngfb-login-form-wrapper">
    <form class="ngfb-login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email" placeholder="Enter your email...">
        <div class="ngfb-error-list" *ngIf="loginFormControls.email.invalid && isSubmitted">
          <div *ngIf="loginFormControls.email.errors?.required">
            Email is required.
        </div>
        <div *ngIf="loginFormControls.email.errors?.email">
          Please enter a valid email address.
      </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password" placeholder="Enter your password...">
        <div class="ngfb-error-list" *ngIf="loginFormControls.password.invalid && isSubmitted">
          <div *ngIf="loginFormControls.password.errors?.required">
              Password is required.
          </div>
        </div>
      </div>
      <div class="ngfb-button-group">
        <button class="ngfb-button ngfb-primary-button" type="submit">Login</button>
      </div>
      <!-- <div class="ngfb-register-link">
      New user? &nbsp;
      <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
        Register here
      </a>
    </div> -->
    </form>
  </div>
</div>
